
<div class="header-wrapper mt-2">
  <div class="d-flex flex-column">
      <div class="d-flex align-items-center mb-2">
      <dadyin-button *ngIf="!productId" [theme]="activeTab === 'posts' ? 'primary' : 'default'" label="Social Post" class="me-2" (clicked)="goToPosts()"></dadyin-button>
      <dadyin-button *ngIf="!productId" [theme]="activeTab === 'campaigns' ? 'primary' : 'default'" label="Campaigns" class="me-2" (clicked)="goToCampaigns()"></dadyin-button>
    </div>
    <div class="d-flex">
      <div class="col-6">
        <div class="filters d-flex w-100 align-items-center">
          <search-filter [searchControl]="searchControl" style="width: 100%" (inputChange)="onInput($event)"
            [placeholder]="'Search by Post name, Status, Product name'"></search-filter>
          <app-filter-box [posts]="socialPosts" (filtersApplied)="onFiltersApplied($event)"></app-filter-box>
        </div>
      </div>
      <div class="col-6 d-flex justify-content-end align-items-center">
        <div class="action-btns">
          <dadyin-button *ngIf="!productId" [theme]="'primary'" label="Create Manual Post" (clicked)="createManualPost()">
          </dadyin-button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="content-wrapper mt-2">
  <div class="table-responsive">
    <data-table
      [data]="filteredPosts"
      [headers]="displayedHeaders"
      [pageConfig]="pageConfig"
      (editData)="editRecord($event)"
      (sortChange)="sort($event)"
      (pageChange)="pageChange($event)"
      [actions]="displayedActions"
      (actionClick)="onActionClick($event)"
      (editData)="viewPost($event.data)">
    </data-table>
  </div>
</div>