<div [class]="class">
  <div class="attribute one attr-b">
    <label *ngIf="label" [class.required]="isRequired">{{ label }}</label>

    <div class="attribute-input time-picker-attribute-input">
      <input
        type="time"
        autocomplete="off"
        [step]="minutesGap * 60"
        [placeholder]="placeholder || label"
        [value]="value"
        [disabled]="disabled || control?.disabled"
        (change)="onTimeSet($event)"
        (blur)="onTouched()"
        class="native-time-input"
      />
    </div>
  </div>

  <span class="error" *ngIf="showFieldError()">{{ getFieldErrorDesc() }}</span>
</div>