<div [class]="class">
  <div class="attribute one attr-b">
    <label *ngIf="label" [class.required]="isRequired">{{ label }}</label>

    <div class="attribute-input time-picker-attribute-input">
      <input
        autocomplete="off"
        [readonly]="true"
        [disabled]="disabled || control?.disabled"
        [ngxTimepicker]="toggleTimepicker"
        [format]="format"
        [placeholder]="placeholder || label"
        [value]="value"
        (blur)="onTouched()"
      />

      <ngx-material-timepicker-toggle
        class="time-picker-toggle"
        [for]="toggleTimepicker"
        [disabled]="disabled || control?.disabled">
      </ngx-material-timepicker-toggle>
    </div>
  </div>

  <span class="error" *ngIf="showFieldError()">{{ getFieldErrorDesc() }}</span>

  <ngx-material-timepicker
    #toggleTimepicker
    [theme]="darkTheme"
    [minutesGap]="minutesGap"
    [enableKeyboardInput]="false"
    (timeSet)="onTimeSet($event)">
  </ngx-material-timepicker>
</div>