<label for="" class="common">{{label}}</label>
<div class="selected" [style.height]="height">
  <div class="row" style="margin-right: 12px;">
    @for (value of options; track value) {
      <div class="col-4 comm">
        <div class="row around">
          <div class="col-11">
            @if (value.label) {
              <label>{{value.label}}</label>
            }
            @if (value.description) {
              <label class="text-ellipsis" [matTooltip]="value.description" [matTooltipPosition]="'above'"
              >{{value.description}}</label>
            }
            @if (value.description == null) {
              <label>Null</label>
            }
          </div>
          <div class="col-1" style=" display: contents;">
            <mat-icon (click)=" remove(value)">cancel_outline
            </mat-icon>
          </div>
        </div>
      </div>
    }
    @if (singleValue) {
      <div class="wdiv">
        <span>{{singleValue}}</span>
      </div>
    }
  </div>
</div>