<div class="container">
  <div class="filter-container">
    <div class="filter-btn d-flex align-items-center primary-text">
      <div class="btn d-flex p-0" (click)="$event.stopPropagation();openFilter=!openFilter">
        <mat-icon>filter_alt@if (filterCount>0) {
          <span
          class="translate-middle badge rounded-pill bg-danger primary-text" id="filterBadge">{{filterCount}}</span>
        }
      </mat-icon>
    </div>
    @if (filterCount>0) {
      <div (click)="clearFilter()" style="text-wrap: nowrap;cursor: pointer;" class="mx-1">
      Clear All</div>
    }
  </div>

  @if (openFilter) {
    <div class="filter-card" appendTo="body">
      <div>
        <div class="filter-card-header my-2">
          <h3 class="primary-text m-0">Filters</h3>
          <dadyin-button [theme]="'primary'" label="Apply" (clicked)="apply()"></dadyin-button>
        </div>
        <div class="filter-card-form" (click)="$event.stopPropagation();">
          <div [formGroup]="filterForm">
            <div class="filter-section">
              <h4 class="filter-section-title">Status</h4>
              <div class="d-flex align-items-center flex-wrap">
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="statusDraft" formControlName="statusDraft">
                  <label class="mx-1" for="statusDraft">Draft</label>
                </div>
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="statusApproved" formControlName="statusApproved">
                  <label class="mx-1" for="statusApproved">Approved</label>
                </div>
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="statusScheduled" formControlName="statusScheduled">
                  <label class="mx-1" for="statusScheduled">Scheduled</label>
                </div>
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="statusRejected" formControlName="statusRejected">
                  <label class="mx-1" for="statusRejected">Rejected</label>
                </div>
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="statusPublished" formControlName="statusPublished">
                  <label class="mx-1" for="statusPublished">Published</label>
                </div>
              </div>
            </div>
            <div class="filter-section">
              <h4 class="filter-section-title">Creation Type</h4>
              <div class="d-flex align-items-center flex-wrap">
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="typeAutomatic" formControlName="typeAutomatic">
                  <label class="mx-1" for="typeAutomatic">Automate</label>
                </div>
                <div class="d-flex align-items-center b-all rounded-pill mx-1 p-2 my-1">
                  <input type="checkbox" id="typeManual" formControlName="typeManual">
                  <label class="mx-1" for="typeManual">Manual</label>
                </div>
              </div>
            </div>
            @if (postCategories.length > 0) {
              <div class="filter-section">
                <h4 class="filter-section-title">Post Category</h4>
                <mat-accordion>
                  <mat-expansion-panel class="my-1">
                    <mat-expansion-panel-header>
                      <mat-panel-title class="primary-text">
                        Select Category
                      </mat-panel-title>
                    </mat-expansion-panel-header>
                    <select formControlName="selectedCategory" class="form-select">
                      <option value="">All Categories</option>
                      @for (category of postCategories; track category) {
                        <option [value]="category">
                          {{ category }}
                        </option>
                      }
                    </select>
                  </mat-expansion-panel>
                </mat-accordion>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  }
</div>
</div>
