<div class="bg-light d-flex justify-content-between align-items-center text-center w-100 title-text p-3">
  <div class="d-flex align-items-center">
    <mat-icon>arrow_back</mat-icon>
    <div class="title-text ms-3">Invite Business</div>
  </div>
  <div class="d-flex align-items-center">
    <dadyin-button matTooltip="Share" [theme]="'disabled'" type="image" [typeval]="'assets/nicons/share.png'">
    </dadyin-button>
    <dadyin-button matTooltip="Delete" [theme]="'borderless-default'" type="image"
      [typeval]="'assets/img/icons/delete.png'">
    </dadyin-button>
    <dadyin-button matTooltip="Save this in Draft" [theme]="'borderless-default'" type="image"
      [typeval]="'assets/nicons/save.png'">
    </dadyin-button>
    <dadyin-button matTooltip="Place Order" [theme]="'borderless-default'" type="image"
      [typeval]="'assets/nicons/place.png'">
    </dadyin-button>
  </div>
</div>
<div class="p-3">

  <mat-expansion-panel class="panel-no-padding" expanded="true" [hideToggle]="true" [disabled]="true">
    <mat-expansion-panel-header>
      <mat-panel-description>
        <div class="w-100 title-text text-left">Business Details</div>
        <mat-icon>expand_less</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <div class="mar-top-15 px-2">
        <form class="row" [formGroup]="inviteDetailGroup">
          <div class="col-md-4 col-lg-4 col-12">
            <dadyin-input inputType="string" formControlName="inviteTo" label="Business Name"
              [isClearable]="false">
            </dadyin-input>
          </div>
          <div class="col-md-4 col-lg-4 col-12">
            <dadyin-input inputType="email" formControlName="email" label="Business Email Id"
              [isClearable]="false">
            </dadyin-input>
          </div>
          <div class="col-md-4 col-lg-4 col-12 d-flex">
            <ng-container formGroupName="phone">
              <div class="width-perc-50 attribute b-none">
                <label class="bg-white" for="yesno">Country Code</label>
                <ng-select appendTo="body" formControlName="countryId" [searchFn]="customSearchFn"
                  [clearable]="false" class="custom" [items]="countries" labelForId="yesno"
                  bindValue="id">
                  <ng-template ng-label-tmp let-item="item">
                    <div> <img width="10px" height="10px"
                      src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}">
                    {{item?.iso2}} {{(item?.phoneCode)}}</div>
                  </ng-template>
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                    <div> <img width="10px" height="10px"
                      src="{{'../../../../../../assets/img/flags/' + item?.iso3?.toLowerCase() + '.svg'}}">
                    {{item?.iso2}} {{(item?.phoneCode)}}</div>
                  </ng-template>
                </ng-select>
              </div>
              <div class="width-perc-50 px-1">
                <div class="attribute one attr-b">
                  <label for="">Phone</label>
                  <div class="attribute-input">
                    <input onKeyPress="if(this.value.length==12) return false;" type="number"
                      formControlName="number" />
                    </div>
                  </div>
                </div>
              </ng-container>
            </div>
          </form>
        </div>
        @if (data?.redirectType == '' || data?.redirectType == null) {
          <div class="mar-top-15 px-2">
            <form [formGroup]="inviteDetailGroup">
              <div class="row mb-3">
                <div class="col-md-4 col-lg-4 col-12">
                  <dadyin-select class="input-field" formControlName="inviteType" label="Invite Type"
                    [emptyOption]="'Select Invite Type'" [optionArr]="businessCategories"
                    optionLabel="label" optionValue="value"
                    (selectedStateChange)="selectedInviteType = $event;" [value]="selectedInviteType">
                  </dadyin-select>
                </div>
                <div class="col-md-4 col-lg-4 col-12">
                  <dadyin-select class="input-field" formControlName="businessType"
                    label="Select Business Type" [emptyOption]="'Select Business Type'"
                    [optionArr]="businessType" optionLabel="label" optionValue="value"
                    (selectedStateChange)="selectedBusinessType = $event;"
                    [value]="selectedBusinessType">
                  </dadyin-select>
                </div>
                <div class="col-md-4 col-lg-4 col-12">
                  <dadyin-select class="input-field" formControlName="industryType"
                    label="Select Industry/Retail Type" [emptyOption]="'Select Industry/Retail Type'"
                    [optionArr]="industryTypes" optionLabel="label" optionValue="value">
                  </dadyin-select>
                </div>
                <div class="col-md-4 col-lg-4 col-12">
                  <ng-select appendTo="body" formControlName="country" [searchFn]="customSearchFn"
                    [clearable]="false" class="custom w-100" [items]="countries" bindValue="id"
                    placeholder="Country" (change)="onCountryChange()">
                    <ng-template ng-label-tmp let-item="item">
                      @if (item) {
                        <span>
                          <img width="16" height="12" class="mr-1"
                            [src]="'assets/img/flags/' + (item?.iso3 || '')?.toLowerCase() + '.svg'" />
                            {{ item?.name }}
                          </span>
                        }
                      </ng-template>
                      <ng-template ng-option-tmp let-item="item">
                        @if (item) {
                          <span>
                            <img width="16" height="12" class="mr-1"
                              [src]="'assets/img/flags/' + (item?.iso3 || '')?.toLowerCase() + '.svg'" />
                              {{ item?.name }}
                            </span>
                          }
                        </ng-template>
                      </ng-select>
                    </div>
                    <div class="col-md-4 col-lg-4 col-12">
                      <ng-select appendTo="body" formControlName="state" [clearable]="true"
                        class="w-100 custom" [items]="states" bindValue="id" bindLabel="name"
                        placeholder="State">
                      </ng-select>
                    </div>
                    @if (selectedInviteType !== 'BUSINESSOWNER') {
                      <div class="col-md-4 col-lg-4 col-12">
                        <div class="d-flex align-items-center">
                          <div class="title-text text-light font-size-12">Inviting Customer to share catelog
                          </div>
                          <input (change)="onShareCatelogChange('Y')" formControlName="shareCatelog"
                            type="radio" [value]="'Y'" id="yes" class="mx-2" />
                            <label for="yes"> Yes </label>
                            <input (change)="onShareCatelogChange('N')" formControlName="shareCatelog"
                              type="radio" [value]="'N'" id="no" class="mx-2" />
                              <label for="no"> No </label>
                            </div>
                          </div>
                        }
                        @if (inviteDetail.shareCatelog.value==='Y' && inviteDetail.inviteType.value!=='owner') {
                          <div class="col-md-12 col-lg-12 col-12"
                            >
                            <dadyin-select class="input-field" formControlName="catelog" label="Catelog"
                              [emptyOption]="'Select Catelog'" [optionArr]="catalogs" optionLabel="label"
                              optionValue="value" (selectedStateChange)="selectedCatalog = $event;"
                              [value]="selectedCatalog">
                            </dadyin-select>
                          </div>
                        }
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-lg-8 col-12">
                          <dadyin-input inputType="string" formControlName="businessAddress"
                            label="Business Address" [isClearable]="false">
                          </dadyin-input>
                        </div>
                        <div class="col-md-4 col-lg-4 col-12">
                          <dadyin-input inputType="string" formControlName="zipCode" label="Zip Code"
                            [isClearable]="false">
                          </dadyin-input>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <dadyin-input inputType="textarea" formControlName="message" label="Personalize Message"
                            [isClearable]="false">
                          </dadyin-input>
                        </div>
                      </div>
                    </form>
                  </div>
                }
                @if (data?.redirectType == 'QUICK_CHECKOUT') {
                  <form [formGroup]="inviteDetailGroup">
                    <div>
                      <div class="row">
                        <div class="col-md-4 col-lg-4 col-12">
                          <dadyin-select class="input-field" formControlName="inviteType" label="Invite Type"
                            [emptyOption]="'Select Invite Type'" [optionArr]="businessCategories"
                            optionLabel="label" optionValue="value"
                            (selectedStateChange)="selectedInviteType = $event;" [value]="selectedInviteType">
                          </dadyin-select>
                        </div>
                        <div class="col-md-4 col-lg-4 col-12">
                          <dadyin-select class="input-field" formControlName="businessType" label="Business Type"
                            [emptyOption]="'Select Business Type'" [optionArr]="businessType"
                            optionLabel="label" optionValue="value"
                            (selectedStateChange)="selectedBusinessType = $event;"
                            [value]="selectedBusinessType">
                          </dadyin-select>
                        </div>
                        <div class="col-8 h-3">
                          <dadyin-input inputType="textarea" formControlName="address" label="Address"
                            [isClearable]=false>
                          </dadyin-input>
                        </div>
                        <div class="col-12">
                          <p>Order will be delivery at Single place even thought you have ordered along with the
                            buddy.
                            You
                          can choose preferred delivery location during payment.</p>
                        </div>
                      </div>
                    </div>
                    <div class="delivery-details">
                      <div style="padding: 10px;">
                        <dadyin-input inputType="text" formControlName="message" label="Add Personalize Message"
                          [isClearable]=false>
                        </dadyin-input>
                      </div>
                    </div>
                  </form>
                }
                <div class="mar-top-10 text-center p-2">
                  <dadyin-button label="Cancel" [theme]="'default'" (clicked)="onCancelCLicked()"></dadyin-button>&nbsp;
                  <dadyin-button label="Invite" [theme]="'primary'" (clicked)="onSubmit()"></dadyin-button>
                </div>
              </ng-template>
            </mat-expansion-panel>



          </div>