@if (isShowTextBox) {
  <input type="text" [placeholder]="placeholder" name="processName" [(ngModel)]="processName"
    [ngModelOptions]="{ standalone: true }" (input)="getProcessName($event, true)" [disabled]="disabled" />
  } @else {
    <select name="processName" [(ngModel)]="processID" [ngModelOptions]="{ standalone: true }"
      (change)="getProcessName($event, false)">
      @for (p of this.processCategories; track p) {
        <option [value]="p.id">{{ p.description }}</option>
      }
    </select>
  }

