<mat-tab-group class="mat-steps" [selectedIndex]="currentMainIndex" (selectedIndexChange)="changeMainTab($event)">
  @for (link of mainTab; track link) {
    <mat-tab >
      <ng-template mat-tab-label>
        <span (click)="resetQueryParams()" [matBadge]="link.badge" [matBadgeHidden]="link.badge === 0"
        [matBadgeOverlap]=false>{{link.title}}</span>
      </ng-template>
      <ng-template matTabContent>
        @if (currentMainIndex == 0) {
          <ng-container>
            <div class="header-wrapper mt-2">
              <div class="row">
                <div class="col-6">
                  <div class="filters">
                    <search-filter (inputChange)="onInput($event)"
                    [placeholder]="'Search based on Product Type/ SubType/ Product name& code'"></search-filter>
                  </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center align-items-center">
                  <div class="action-btns">
                    <dadyin-button [theme]="'primary'" label="Add Type" (clicked)="navigateToAddType()">
                    </dadyin-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-wrapper mt-2">
              <data-table [data]="ProductTypeList" [headers]="headers" (editData)="editRecord($event)"
                [pageConfig]="pageConfig"  (sortChange)="sort($event)" (pageChange)="pageChange($event)" [userShow]="true"
                [actions]="tabelActions" (actionClick)="onActionClick($event)">
              </data-table>
            </div>
          </ng-container>
        }
        @if (currentMainIndex == 1) {
          <app-subtype-list></app-subtype-list>
        }
        @if (currentMainIndex == 2) {
        }
        @if (currentMainIndex == 3) {
        }
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>