<mat-tab-group class="mat-steps" [selectedIndex]="currentMainIndex" (selectedIndexChange)="changeMainTab($event)">
  <mat-tab *ngFor="let link of mainTab">
    <ng-template mat-tab-label>
      <span [matBadge]="link.badge" [matBadgeHidden]="link.badge === 0" [matBadgeOverlap]="false">{{ link.title
        }}</span>
    </ng-template>
    <ng-template matTabContent>
      <ng-container *ngIf="currentMainIndex == 0">
        <ng-container>
          <div class="header-wrapper mt-2">
            <div class="d-flex">
              <div class="col-6">
                <div class="filters d-flex w-100 align-items-center">
                  <search-filter [searchControl]="searchControl" style="width: 100%" (inputChange)="onInput($event)"
                    [placeholder]="
                      'Search based on Product Type/ SubType/ Product name & code'
                    "></search-filter>
                  <app-filter-box [products]="productsList"
                    (emitFilterProducts)="filterProducts($event)"></app-filter-box>
                </div>
              </div>
              <div class="col-6 d-flex justify-content-end align-items-center">
                <div class="action-btns">
                  <dadyin-button [theme]="'secondary'" label="Download Template" (clicked)="downloadBulkUploadTemplate()"
                    [isDisabled]="downloadTemplateInProgress" style="margin-right: 10px">
                  </dadyin-button>
                  <dadyin-button [theme]="'secondary'" label="Bulk Upload" (clicked)="triggerBulkUpload()"
                    [isDisabled]="bulkUploadInProgress" style="margin-right: 10px">
                  </dadyin-button>
                  <input #bulkUploadFileInput type="file" accept=".xlsx"
                    style="display: none" (change)="onBulkUploadFileSelected($event)" />
                  <dadyin-button [theme]="'primary'" label="Add Product" (clicked)="addProduct()">
                  </dadyin-button>
                  <dadyin-button [theme]="'secondary'" label="Add Raw Material" (clicked)="addRawMaterial()"
                    style="margin-left: 10px">
                  </dadyin-button>
                </div>
              </div>
            </div>
          </div>

          <div cdkDrag class="uom-config-section">
            <button (click)="$event.stopPropagation(); uomSetting = !uomSetting"
              class="btn bg-primary-light title-text">
              UOM Setting
            </button>
            <div (click)="$event.stopPropagation()" class="card uom-card" *ngIf="uomSetting">
              <div style="margin: 15px" class="prefer-uom-grid align-items-center"
                *ngIf="componentUoms.controls?.length > 0">
                <div [formGroup]="item" *ngFor="let item of componentUoms.controls; let i = index"
                  class="my-2 attribute one b-none w-100">
                  <div class="attribute-input justify-content-around w-100 title-text">
                    <div class="text-uppercase">
                      {{ item.get("attributeName").value }}
                    </div>
                    <select (change)="loadProductsList()" formControlName="userConversionUom">
                      <ng-container *ngFor="
                          let uom of uomService.getUoms(
                            item.get('attributeTypeId').value
                          )
                        ">
                        <option [value]="uom.description">
                          {{ uom?.description }}
                        </option>
                      </ng-container>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-wrapper mt-2">
            <data-table [data]="productsList" [headers]="headers" [pageConfig]="pageConfig"
              (editData)="editRecord($event)" (sortChange)="sort($event)" (pageChange)="pageChange($event)"
              [actions]="tabelActions" (actionClick)="onActionClick($event)" (uomChange)="loadProductListByUOM($event)"
              (tooltipShow)="showPopover($event.row, $event.event, $event.prop)" (tooltipHide)="hidePopover()"
              [tooltipContent]="HoverTooltip">
            </data-table>
          </div>
        </ng-container>
      </ng-container>
      <ng-container *ngIf="currentMainIndex == 1"> </ng-container>
      <ng-container *ngIf="currentMainIndex == 2"> </ng-container>
      <ng-container *ngIf="currentMainIndex == 3"> </ng-container>
    </ng-template>
  </mat-tab>
</mat-tab-group>

<!-- Tooltip Templates -->
<ng-template #HoverTooltip>
  <!-- Sales/Purchases -->
  <div class="prev-sales-tooltip" *ngIf="labelTooltip === 'Prev. Purchases' || labelTooltip === 'Prev. Sales'">
    <div class="bg-card-header b-round p-1 my-1" style="min-width: 300px;">
      <span class="text-black">{{ labelTooltip }}</span>
    </div>
    <div *ngIf="loading" style="text-align: center; padding: 20px;min-width: 300px;">
      <div class="spinner"></div>
      <span>Loading...</span>
    </div>
    <div *ngIf="!loading && salesData.length > 0">
      <table style="width: 100%; table-layout: fixed">
        <thead class="bg-light b-round">
          <tr>
            <th style="width: 25%">Date</th>
            <th style="width: 15%">Qty</th>
            <th style="width: 20%">Price</th>
            <th style="width: 40%">{{ labelTooltip === "Prev. Purchases" ? "Vendor" : "Customer" }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of salesData">
            <td style="font-size: 11px; padding: 4px">{{ sale.date }}</td>
            <td style="font-size: 11px; padding: 4px">{{ sale.quantity | number }}</td>
            <td style="font-size: 11px; padding: 4px" class="price-cell-green">${{ sale.cost | number : "1.2-2" }}</td>
            <td style="font-size: 11px; padding: 4px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
              {{ labelTooltip === 'Prev. Purchases' ? sale.vendorName : sale.customerName }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div *ngIf="!loading && salesData.length === 0" style="text-align: center; padding: 20px;">
      No previous data available
    </div>
  </div>

  <!-- Inventory Ledger -->
  <div class="inventory-ledger-tooltip" *ngIf="labelTooltip === 'Inventory Ledger'">
    <div class="d-flex align-items-center justify-content-between bg-card-header b-round p-1 my-1" style="min-width: 300px;"  >
      <b class="text-black">Inventory Ledger</b>
      <div class="text-dark">QOH</div>
    </div>
    <div *ngIf="loading" style="text-align: center; padding: 20px;min-width: 300px;">
      <div class="spinner"></div>
      <span>Loading...</span>
    </div>
    <div *ngIf="!loading && inventoryLedgerData?.inventoryHistory?.length > 0">
      <div class="my-2">
        <table style="width: 100%;table-layout: fixed">
          <thead style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            class="bg-light b-round font-size-12">
            <tr>
              <th class="text-center">Date</th>
              <th class="text-nowrap" style="min-width:350px;">Bill/Inv./Batch</th>
              <th>Qty (In/Out)</th>
              <th>Before Qty</th>
              <th>After Qty</th>
            </tr>
          </thead>
          <tbody class="font-size-12">
            <tr *ngFor="let item of inventoryLedgerData?.inventoryHistory">
              <td class="px-1 text-center">{{ item.date | date:'MM/dd/yyyy' }}</td>
              <td class="px-1 text-center" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{
                item.invoiceTransactionId }}</td>
              <td class="px-1 text-center">
                <span class="b-round" [ngClass]="item.inventoryDirection == 'IN' ? 'price-text' : 'danger-text'">
                  {{ item.inventoryDirection=='IN' ? '+' : '-' }} {{ item.newQuantityAdded }}
                </span>
              </td>
              <td class="px-1 text-center">{{ item.beforeQuantity }}</td>
              <td class="px-1 text-center">{{ item.afterQuantity }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="font-size-12 d-flex align-items-center justify-content-between text-dark bg-light b-round p-1 my-1">
        <div>In Qty/Month : {{ inventoryLedgerData?.inventorySummary?.last30DaysInQuantity }}</div>
        <div>No. of Invoices : {{ inventoryLedgerData?.inventorySummary?.purchaseOrderCount }}</div>
        <div>Avg Sales Price : {{ inventoryLedgerData?.inventorySummary?.avgSalesPrice }}</div>
        <div></div>
      </div>
      <div class="font-size-12 text-dark d-flex align-items-center justify-content-between bg-light b-round p-1 my-1">
        <div>Out Qty/Month : {{ inventoryLedgerData?.inventorySummary?.last30DaysOutQuantity }}</div>
        <div>No. of Bills/Batch : {{ inventoryLedgerData?.inventorySummary?.invoiceCount }}</div>
        <div>Avg Purchase Price : {{ inventoryLedgerData?.inventorySummary?.avgPurchasePrice }}</div>
        <div class="text-primary text-end bg-card-header b-round px-2">1 {{
          inventoryLedgerData?.inventorySummary?.noOfMonths }} Months</div>
      </div>
    </div>
    <div *ngIf="!loading && (!inventoryLedgerData || !inventoryLedgerData.inventoryHistory || inventoryLedgerData.inventoryHistory.length === 0)" style="text-align: center; padding: 20px;">
      No previous data available
    </div>
  </div>
</ng-template>