<mat-tab-group class="mat-steps" [selectedIndex]="currentMainIndex" (selectedIndexChange)="changeMainTab($event)">
  @for (link of mainTab; track link) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="link.badge" [matBadgeHidden]="link.badge === 0" [matBadgeOverlap]=false>{{link.title}}</span>
      </ng-template>
      <ng-template matTabContent>
        @if (currentMainIndex === 0) {
          <ng-container>
            <div class="header-wrapper mt-2">
              <div class="row">
                <div class="col-6">
                  <div class="filters">
                    <!-- <button><img src="assets/img/icons/Filter.svg" alt="" /></button> -->
                    <search-filter (inputChange)="onInput($event)" [placeholder]="'Search based on name & code'">
                    </search-filter>
                  </div>
                </div>
                <div class="col-6 d-flex justify-content-end align-items-center align-items-center">
                  <div cdkDrag class="uom-config-section">
                    <button (click)="$event.stopPropagation();uomSetting=!uomSetting"
                    class="btn bg-primary-light title-text"> UOM Setting </button>
                    @if (uomSetting) {
                      <div (click)="$event.stopPropagation();" class="card uom-card">
                        @if (componentUoms.controls?.length>0) {
                          <div class="prefer-uom-grid align-items-center">
                            @for (item of componentUoms.controls; track item; let i = $index) {
                              <div [formGroup]="item"
                                class="my-2 attribute one b-none w-100">
                                <div class="attribute-input justify-content-around w-100 title-text">
                                  <div class="text-uppercase">{{item.get('attributeName').value}}</div>
                                  <select (change)="loadProductTempList()" formControlName="userConversionUom">
                                    @for (uom of uomService.getUoms(item.get('attributeTypeId').value); track uom) {
                                      <option [value]="uom.description">{{uom?.description}}</option>
                                    }
                                  </select>
                                </div>
                              </div>
                            }
                          </div>
                        }
                      </div>
                    }
                  </div>
                  <div class="action-btns">
                    <dadyin-button [theme]="'primary'" [class]="'px-3'" label="Create Template"
                      (clicked)="addProductTemplate()">
                    </dadyin-button>
                  </div>
                </div>
              </div>
            </div>
            <div class="content-wrapper mt-2">
              <data-table [data]="productTemplateList" [headers]="headers" [pageConfig]="pageConfig"
                (editData)="editRecord($event)" (sortChange)="sort($event)" (pageChange)="pageChange($event)"
                [userShow]="true" [actions]="tabelActions" (actionClick)="onActionClick($event)">
              </data-table>
            </div>
          </ng-container>
        }
        @if (currentMainIndex === 1) {
        }
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>