<mat-tab-group class="mat-steps" [selectedIndex]="currentMainIndex" (selectedIndexChange)="changeMainTab($event)">
  @for (link of mainTab; track link) {
    <mat-tab>
      <ng-template mat-tab-label>
        <span [matBadge]="link.badge" [matBadgeHidden]="link.badge === 0" [matBadgeOverlap]=false>{{link.title}}</span>
      </ng-template>
      <ng-template matTabContent>
        @if (currentMainIndex == 0) {
          <app-inventoryout-order-arrival></app-inventoryout-order-arrival>
        }
        @if (currentMainIndex == 1) {
          <app-inventoryout-added-to-inventory></app-inventoryout-added-to-inventory>
        }
        @if (currentMainIndex == 2) {
          <app-inventoryout-container-in></app-inventoryout-container-in>
        }
      </ng-template>
    </mat-tab>
  }
</mat-tab-group>