@if (!isMultiSelect()) {
  <div class="{{ class() }}">
    <div class="attribute one attr-b">
      <label
        [style.fontSize]="fontSize ? fontSize + '!important' : ''"
        [class.required]="validationRequired"
        [class]="labelBackground()"
        for=""
        >{{ label() }}</label
        >
        <div class="attribute-select">
          <select
            style="   background: white;"
            (change)="onSelectOption($event)"
            [ngClass]="{ 'b-red': isErrorClass() }"
            [ngStyle]="{ color: control?.value ? 'black' : '#9bb5cf' }"
            #select
            (change)="selectionChange($event.target.value)"
            [(value)]="_value"
            [name]="formControlName()"
            [formControl]="control"
            [style.height]="height ? height + '!important' : ''"
            [style.fontSize]="fontSize ? fontSize + '!important' : ''"
            >
            <option selected disabled value="null">Select</option>
            @for (option of optionArr; track option) {
              <option
                style="color: black"
                [disabled]="option.disabled || isDisabled"
                [value]="option[optionValue()]"
                [ngClass]="option.className"
                >
                {{ option[optionLabel()] }}
                @if (showUser()) {
                  <span class="span">{{ option.audit }}</span>
                }
              </option>
            }
          </select>
        </div>
      </div>
      @if (!isErrorClass()) {
        <span class="error">{{ getFieldErrorDesc() }}</span>
      }
    </div>
  }
  @if (isMultiSelect()) {
    <div class="{{ class() }}">
      <div class="attribute one attr-b">
        <label
          [style.fontSize]="fontSize ? fontSize + '!important' : ''"
          [class]="labelBackground()"
          for=""
          >{{ label() }}</label
          >
          <div class="attribute-select" style="padding-top: 3px">
            <select
              [style.height]="height ? height + '!important' : ''"
              [style.fontSize]="fontSize ? fontSize + '!important' : ''"
              #select
              multiple
              (change)="selectionChange($event.target.value)"
              [(value)]="_value"
              [name]="formControlName()"
              [formControl]="control"
              >
              @for (option of optionArr; track option) {
                <option
                  [
                  [disabled]="option.disabled || isDisabled"
                  [value]="option[optionValue()]"
                  [ngClass]="option.className"
                  >
                  {{ option[optionLabel()] }}
                </option>
              }
            </select>
          </div>
        </div>
        <span class="error">{{ getFieldErrorDesc() }}</span>
      </div>
    }
