<div class="app-container">
  <mat-tab-group
    class="mat-steps"
    [(selectedIndex)]="currentTabIndex"
    (selectedTabChange)="onTabChange($event)"
    >
    @for (tab of tabs; track tab) {
      <mat-tab>
        <ng-template mat-tab-label>
          <span>{{ tab.title }}</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="header-wrapper mt-2">
            <div class="row">
              <div class="col-6">
                <div class="filters">
                  <search-filter
                    (inputChange)="onInput($event)"
                    [placeholder]="'Search by business name or email'"
                  ></search-filter>
                </div>
              </div>
              @if (tab.index === 0) {
                <div class="col-6 d-flex justify-content-end align-items-center">
                  <dadyin-button
                    class="mr-2"
                    [theme]="'default'"
                    label="Bulk invite"
                    (clicked)="onBulkInvite()"
                  ></dadyin-button>
                  <dadyin-button
                    [theme]="'primary'"
                    label="Send new invite"
                    (clicked)="onSendNewInvite()"
                  ></dadyin-button>
                </div>
              }
            </div>
          </div>
          <div class="content-wrapper mt-2">
            <data-table
              [data]="currentList"
              [headers]="headers"
              [searchTerm]="filterValue"
              [pageConfig]="pageConfig"
              (editData)="onRowClick($event)"
              (sortChange)="sort($event)"
              (pageChange)="pageChange($event)"
            ></data-table>
          </div>
        </ng-template>
      </mat-tab>
    }
  </mat-tab-group>
</div>
