.scrollable-content {
  margin: 0;
  display: flex;
  align-items: center;
  /* TODO(mdc-migration): The following rule targets internal classes of dialog that may no longer apply for the MDC version. */
  mat-dialog-content.component-dialog {
    overflow: hidden;
    padding: 0;
    margin: 0;
    overflow: inherit;
    max-height: 80vh;
    padding: 0 10px;
    width: 100%;
  }
}
