<div class="header-light">
  @if (isShowProcessList == false) {
    <div class="d-flex">
      <div class="font-size-14">
        <strong>Template Cost : </strong>
        <span class="price-text"> {{ getTemplateCost() }} </span>
      </div>
      <div class="font-size-14 mx-2 border-l-light">
        <strong>Template Density : </strong>
        <span class="price-text"> {{ getTemplateDensity() }} </span>
      </div>
    </div>
  }
  <div class="action-btns">
    <div class="attribute tabular-sheet col-2 width-perc-40" style="border-radius: 24px;">
      <div class="attribute-input bg-white" style="padding:2px;">
        <div class="toggle width-perc-100 b-none">
          <button [disabled]="
          !this.apiService.finalSave ||
          templateProcesses?.controls[this.templateProcesses?.length - 1]
            ?.get('process')
            ?.get('isLayerPercentageCalculated')?.value == false" (click)="setTemplateProcessMaterialType('LOG_SHEET')"
            class="width-perc-50 h-25 font-size-12"
            [ngClass]="{ active: templateProcessMaterialType.value == 'LOG_SHEET' }">
            Log Sheet
          </button>
          <button [disabled]="
          !this.apiService.finalSave ||
          templateProcesses?.controls[this.templateProcesses?.length - 1]
            ?.get('process')
            ?.get('isLayerPercentageCalculated')?.value == false"
            (click)="setTemplateProcessMaterialType('FIXED_MATERIAL')" class="width-perc-50 h-25 font-size-12"
            [ngClass]="{ active: templateProcessMaterialType.value == 'FIXED_MATERIAL' }">
            Fixed Material
          </button>
        </div>
      </div>
    </div>
    <div class="mx-1">
      <dadyin-button [isDisabled]="
          !this.apiService.finalSave ||
          templateProcesses?.controls[this.templateProcesses?.length - 1]
            ?.get('process')
            ?.get('isLayerPercentageCalculated')?.value == false
        " label="Add New Process" (clicked)="createNewProcess(false)" type="image" [theme]="'borderless-primary'"
        [class]="'bg-white px-2 w-auto-img d-flex '" [typeval]="'assets/nicons/add.png'" height="25px">
      </dadyin-button>
    </div>
    <div>
      <dadyin-button [isDisabled]="
          !this.apiService.finalSave ||
          templateProcesses?.controls[this.templateProcesses?.length - 1]
            ?.get('process')
            ?.get('isLayerPercentageCalculated')?.value == false
        " label="Add Existing Process" (clicked)="createNewProcess(true)" type="image" height="25px"
        [theme]="'borderless-primary'" [class]="'bg-white px-2 w-auto-img d-flex'" [typeval]="'assets/nicons/add.png'">
      </dadyin-button>
    </div>
    <div class="opt mx-1 view-graph">

      <dadyin-button (clicked)="this.isShowProcessList = !this.isShowProcessList" [theme]="'borderless-white'"
        type="image" [widthImage]="'20px'" [heightImage]="'20px'" [typeval]="'assets/nicons/pie-chart.png'">
      </dadyin-button>
    </div>
    <div class="opt expand-all">
      <button type="button" class="btn b-none" [ngClass]="isExpandAll ? 'active' : ''"
        (click)="isExpandAll = !isExpandAll">
        <img src="assets/img/icons/{{
            isExpandAll ? 'Active Collapse Arrow.svg' : 'Expand Arrow.svg'
          }}" alt="" />
        </button>
      </div>
    </div>
  </div>

  <!-- List of Process -->
  <div class="app-content">
    @if (this.isShowProcessList) {
      <app-process-list [processData]="templateProcesses"></app-process-list>
    }

    @if (!this.isShowProcessList) {
      @for (process of templateProcesses?.controls; track process; let i = $index) {
        <div>
          <app-edit-process [componentUoms]="componentUoms" (calculate)="calculateValues($event)"
            [existingProcess]="existingProcess" (deleteProcessEvent)="removeProcess(i)" [templateForm]="templateForm"
            [index]="i" [isExpandAll]="isExpandAll" [process]="process">
          </app-edit-process>
        </div>
      }
    }
  </div>